<%- include("header")-%>
<h2>This is the about page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis cum quam praesentium quibusdam saepe ipsum eum, perspiciatis nemo eius earum. Ut libero nostrum provident fugiat consequatur dignissimos quo soluta magnam.</p>

<%- include("footer")-%>


<!-- see you didnot have to repeat any link and stylings and all -->
