<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To-Do List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/styles.css" rel="stylesheet">
        <!-- just this is not possible its not a static website anymore its a server based website -->
    </head>
    <body>